@import "tailwindcss";
@plugin "daisyui";

:root {
    interpolate-size: allow-keywords;
}

* {
    text-decoration: none;
    outline: none;
    user-select: none;
}

html {
    overflow: hidden;
    /* background-image: url(/home/szinedine/Pictures/wallpaper/wllpapr3.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 30px;

}

#root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 90px;
}


details::details-content {
    block-size: 0;
    transition-property: block-size, content-visibility;
    transition-duration: 0.3s;
    transition-behavior: allow-discrete;
}

details[open]::details-content {
    block-size: auto;
    block-size: calc-size(auto);
}

/* Disable expand/collapse animation during initial load */
body.no-anim details::details-content {
    transition-duration: 0s !important;
}
