@import "tailwindcss";
@plugin "daisyui" {
  exclude: properties;  /* this removed the warning */
}

:root {
    interpolate-size: allow-keywords;
}

* {
    text-decoration: none;
    outline: none;
    user-select: none;
}

html, body {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* drag and drop style */
.ghost {
    opacity: 0.2;
}

.chosen {
    opacity: 1.0;
    color: white;
}

.drag {
    opacity: 0.8;
}
